@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>



@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Question</legend> 
        @Form.TextBoxRequired(name: "Name", value: Model.Name) 
        @Form.TextBoxRequired(name: "Question", value: Model.Question) 
        @Form.TextBoxRequired(name: "Answer", value: Model.Answer) 
        @Form.Submit()
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

