@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>
<div class="vidform">
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Form.HiddenID(Model.ID)
        @Form.TextBoxRequired(name: "Name", value: Model.Name)
        @Form.TextBoxRequired(name: "Question", value: Model.Question)
        @Form.TextBoxRequired(name: "Answer", value: Model.Answer) 
        @Form.Submit()
    }
</div>